<!DOCTYPE html>
<html lang="en" class="h-100 ">
<head>
    <meta charset="UTF-8">
    <title>Moon Ore parser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="h-100 pt-5">
<div class="container-fluid h-100">
    <div class="row h-100">
        <form action="{{ url_for('parse') }}" method="post" class="col-md border-right h-100 p-0">
            <button type="submit" class="btn btn-primary btn-lg btn-block rounded-0 fixed-top">Parse data</button>
            <textarea name="input" id="input" class="border-0 h-100 w-100 bg-light m-0"
                      placeholder="Paste results from EVE here">{{ input_value or '' }}</textarea>
        </form>
        <div class="col-md h-100 p-0">
            {#<pre class="mw-100">{{ output_value or '' }}</pre>#}
            <textarea name="output" id="output" class="border-0 w-100 h-100 m-0"
                      placeholder="Output will appear here" readonly>{{ output_value or '' }}</textarea>
        </div>
    </div>
</div>
</body>
</html>
